.about
    h1.about__header Hi, I'm Luke
    p.about__content Lorem ipsum dolor sit amet, totam necessitatibus. Eveniet quia, odit culpa placeat delectus at nisi illum animi, iusto, facere incidunt!
    img.about__face(src="http://www.fillmurray.com/240/240")
