.about
    h1.about__header Hi, I'm Luke
    p.about__content a Front End Developer working for Plusnet. Adept in HTML, CSS and Javascript. I am currently looking for some new projects, #[a(href="#contact") hit me up].
    img.about__face(src="http://www.fillmurray.com/220/220")
