.contact
    .details__container
        .details
            h2.contact__email #[a(href="mailto:luketodd@zoho.com") luketodd@zoho.com]
            h2.contact__phone #[a(href="tel:07415051418") 07415051418]
    .form__container
        form.form
            label.form__label name: #[input.form__name(type="text")]
            label.form__label email: #[input.form__email(type="email")]
            label.form__label query: #[input.form__query(type="text")]
        
