.contact#contact
    .message__container
        .message
            p.message__content Get in touch
    .details__container
        .details
            h2.contact__email #[a(href="mailto:luketodd@zoho.com") luketodd@zoho.com]
        
