.footer
    ul.footer__list
        li.footer__item #[a.gh(href="https://github.com/lukeajtodd") github]
        li.footer__item #[a.fb(href="https://github.com/lukeajtodd") facebook]
        li.footer__item #[a.em(href="mailto:luketodd'zoho.com") email]
        li.footer__item #[a.tw(href="https://twitter.com/lukeajtodd") twitter]
        li.footer__item #[a.hl(href="#") contact]
