.footer
    ul.footer__list
        li.footer__item #[a(href="https://github.com/lukeajtodd") github]
        li.footer__item #[a(href="https://github.com/lukeajtodd") facebook]
        li.footer__item #[a(href="mailto:luketodd'zoho.com") email]
        li.footer__item #[a(href="https://twitter.com/lukeajtodd") twitter]
        li.footer__item.hl #[a(href="#") contact]
