.title
    .logo-container
        img.logo(src="/images/ltlogo-green.png")
    .logo-container
        img.logo(src="/images/ltlogo-blue.png")
    .logo-container
        img.logo(src="/images/ltlogo-pink.png")
    .logo-container
        img.logo(src="/images/ltlogo.png") 
    include ./nav.jade       
