.nav
    ul.nav__list
        li.nav__item #[a.gh(href="https://github.com/lukeajtodd") gh]
        li.nav__item #[a.fb(href="https://github.com/lukeajtodd") fb]
        li.nav__item #[a.em(href="mailto:luketodd'zoho.com") em]
        li.nav__item #[a.tw(href="https://twitter.com/lukeajtodd") tw]
        li.nav__item #[a.hl(href="#") contact]
