.nav
    ul.nav__list
        li.nav__item #[a.gh(href="https://github.com/lukeajtodd") #[img(src="/images/gh.svg")]]
        li.nav__item #[a.fb(href="https://github.com/lukeajtodd") #[img(src="/images/fb.svg")]]
        li.nav__item #[a.tw(href="https://twitter.com/lukeajtodd") #[img(src="/images/tw.svg")]]
