.nav
    ul.nav__list
        li.nav__item #[a.gh(href="https://github.com/lukeajtodd") #[object(type="image/svg+xml", data="/images/gh.svg")]]
        li.nav__item #[a.fb(href="https://github.com/lukeajtodd") #[object(type="image/svg+xml", data="/images/fb.svg")]]
        li.nav__item #[a.em(href="mailto:luketodd'zoho.com") em]
        li.nav__item #[a.tw(href="https://twitter.com/lukeajtodd") #[object(type="image/svg+xml", data="/images/tw.svg")]]
        li.nav__item #[a.hl(href="#") contact]
