.about {
  background: #ddd;
  border: 3px solid black;
  width: 26rem;
  height: 16rem;
  padding: 2rem;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  float: left;

  &__header, &__content {
    width: 70%;
  }

  &__header {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    margin: 0;
  }

  &__content {
    font-family: 'Eczar', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  &__face {
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
