.about {
  background: #ddd;
  border: 3px solid black;
  max-width: $main_width;
  width: 100%;
  height: $main_height;
  padding: $padding;
  margin: 60px auto;
  margin-left: $margin;
  margin-top: $margin;
  position: relative;

  &__header, &__content {
    width: 70%;
  }

  &__header {
    font-family: 'Rubik', sans-serif;
    font-size: $header_font_size;
    margin: 0;
  }

  &__content {
    font-family: 'Eczar', sans-serif;
    font-size: $content_font_size;
    line-height: $line_height;
  }

  &__face {
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
