.articles {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.articles-container {
    
}

.article {
    margin-top: 20px;
    margin-bottom: 40px;
}

.article__title {
    margin-bottom: 10px;
}

.article__image {
    margin-top: 5px;
    margin-bottom: 10px;
}

.article__content {
    height: 80px;
    overflow: hidden;
    border-bottom: 1px dashed #000;
    border-top: 1px dashed #000;
    box-shadow: inset 0px -20px 40px -10px #eee;
    padding: 10px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    @media screen and (min-width: 550px) {
        width: 450px;
        margin: 30px auto;
    }
    @media screen and (min-width: 1024px) {
        width: 100%;
    }
}

.article__timestamp {
    display: inline-block;
    margin-top: 5px;
}
