.contact {
  margin-top: 60px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .details__container, .message__container {
    position: relative;
    background: #ddd;
    border: 3px solid #000;
    height: 20rem;
    width: 26rem;
    margin-left: $margin;
    margin-top: $margin;
    float: left;
  }


  .details, .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .message {
    p {
      margin: 0;
      font-family: 'Rubik', sans-serif;
      font-size: 4rem;
    }
  }

  .details {
    text-align: right;
    a {
      color: #000;
    }

    h2 {
      margin: 0;
      font-size: 2rem;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
