.title {
  padding-bottom: 110px;
  position: relative;
}

.logo-container {
  position: absolute;
}

.logo-container:nth-child(4) {
  padding-top: 20px;
}

.logo-container:nth-child(3) {
  padding-top: 15px;
  padding-left: 5px;
}

.logo-container:nth-child(2) {
  padding-top: 10px;
  padding-left: 10px;
}

.logo-container:nth-child(1) {
  padding-top: 5px;
  padding-left: 15px;
}
