.title {
    display: block;
    margin: 20px auto 5px auto;
    max-width: 400px;
    text-align: center;
    width: 100%;

    a {
        text-shadow: none;
    }
}


.title__header {
    color: $main_color;
    font-family: 'Secular One', cursive;
    font-weight: bold;
    line-height: 2.8rem;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: 1400px) {
        margin-bottom: 30px;
        font-size: 4rem;
        line-height: 3.5rem;
        width: 50%;
    }
}
