.nav {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    @media screen and (min-width: 1400px) {
        display: none;
    }
}

.nav__list {
    padding: 10px 10px 10px 10px;
    margin: 0;
    margin-bottom: 20px;
}

.nav__link {
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    a {
        display: inline-block;
        color: #000;
        text-decoration: none;
        padding: 5px;
    }
    &:hover {
        border-bottom: 2px solid $highlight_color;
    }
}
