.work {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
    zoom: 1;
}

.work__container {
    @media screen and (min-width: 550px) {
        width: 50%;
        display: inline-block;
        &:last-child {
            float: left;
        }
    }
}


.work__screen {
    box-shadow: 2px 2px 2px #eee;
    transition: all 0.4s;
    &:hover {
        box-shadow: 4px 4px 6px #bbb;
    }
}
