$main_color: rgba(150, 6, 179, 1);
$highlight_color: #705499;

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Eczar|Rubik');

@import '_contact';
@import '_header';
// @import '_article';
@import '_nav';
@import '_work';
@import '_about';
// @import '_call_button';
// @import '_email_button';
// @import '_animations';

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Eczar', sans-serif;
    background: #efefef;
}

.container {
    position: relative;
    margin: 30px auto;
    padding: 30px;
    max-width: 1100px;
    width: 100%;
}

.inner-container {
  max-width: 60rem;
  width: 100%;
  padding: 30px 30px 60px 30px;
  margin: 0 auto;
  &:after {
    content: "";
  display: table;
  clear: both;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  opacity: 0.75;
  z-index: 10;
  display: none;
}

.hl {
  background: #ffff00;
  &:hover {
    background: #000;
    color: #fff;
  }
}

a {
    text-decoration: none;
}
