$main_color: rgba(150, 6, 179, 1);
$highlight_color: #705499;

@import '_contact-bar';
@import '_header';
@import '_article';
@import '_footer';
@import '_work';
@import '_about';
@import '_call_button';
@import '_email_button';

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background: #efefef;
    border-top: 3px solid $main_color;
}

.container {
    margin: 0 auto;
    max-width: 840px;
    width: 100%;
    @media screen and (min-width: 1400px) {
        width: 50%;
        display: inline-block;
        margin-top: 60px;
        padding-top: 160px;
    }
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h1, h2, p, span, a {
    text-shadow: 2px 2px #ddd;
}
