extends layout

block content
    .container
        include ./partials/header.jade
        include ./partials/nav.jade
        include ./partials/articles.jade
        include ./partials/footer.jade
