extends layout

block content
    .about-container
        include ./partials/about.jade  
block work-aside
    .work-aside
        .work
            for job in work
                a(href="#{ job.url }")
                    .work__container
                        h2.job__title #{ job.title }
                        p.job__description #{ job.description }
                        img.work__screen(src="#{ job.screengrab }")
