extends layout

block content
    .inner-container
        include ./partials/header.jade
        // -include ./partials/nav.jade
        include ./partials/about.jade
        // -.separator
        include ./partials/work.jade
        // - .separator
        include ./partials/contact.jade
