doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Secular+One|Space+Mono|Work+Sans")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
