doctype html
html
head
    title Luke Todd | Web Developer
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Secular+One|Space+Mono|Work+Sans")
    link(rel='stylesheet', href='/stylesheets/main.css')
body
    .contact-bar
        span.contact-bar__email luketodd@zoho.com
    .container
        include ./partials/header.jade
        block content
        include ./partials/footer.jade
    block work-aside
