extends layout

block content
    .container
        include ./partials/header
        include ./partials/nav
        .work
            for job in work
                h2.work__header #{ job.title }
                a(href="#{ job.url }")
                    img.work__screen(src="#{ job.screengrab }")
        include ./partials/call_button
        include ./partials/email_button
        include ./partials/footer
