extends layout

block content
    .work
        for job in work
            .work__container
                h2.work__header #{ job.title }
                a(href="#{ job.url }")
                    img.work__screen(src="#{ job.screengrab }")
    include ./partials/call_button
    include ./partials/email_button
