@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Eczar|Rubik");
.title {
  padding-bottom: 110px;
  position: relative; }

.logo-container {
  position: absolute; }

.logo-container:nth-child(4) {
  padding-top: 20px; }

.logo-container:nth-child(3) {
  padding-top: 15px;
  padding-left: 5px; }

.logo-container:nth-child(2) {
  padding-top: 10px;
  padding-left: 10px; }

.logo-container:nth-child(1) {
  padding-top: 5px;
  padding-left: 15px; }

.nav {
  text-align: center; }
  .nav__list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav__item {
    font-size: 1.3rem;
    display: inline-block; }
    .nav__item a {
      color: #000;
      padding: 0 10px; }
      .nav__item a img {
        width: 1.5rem; }

.work {
  background: #ddd;
  border: 3px solid black;
  width: 26rem;
  height: 16rem;
  padding: 2rem;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  float: left; }
  .work__title, .work__description {
    display: none; }
  .work:hover .work__title, .work:hover .work__description {
    display: inline-block; }
  .work__title {
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    margin: 0;
    z-index: 99; }
  .work__description {
    position: relative;
    float: right;
    width: 70%;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.8rem;
    z-index: 99; }
  .work__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 190%;
    display: inline-block;
    z-index: 1; }

.about {
  background: #ddd;
  border: 3px solid black;
  width: 26rem;
  height: 16rem;
  padding: 2rem;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  float: left; }
  .about__header, .about__content {
    width: 70%; }
  .about__header {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    margin: 0; }
  .about__content {
    font-family: 'Eczar', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem; }
  .about__face {
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    right: 2rem; }

*, *::after, *::before {
  box-sizing: border-box; }

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Eczar', sans-serif;
  background: #efefef; }

.container {
  position: relative;
  margin: 30px auto;
  padding: 30px;
  max-width: 1100px;
  width: 100%; }

.inner-container {
  max-width: 60rem;
  width: 100%;
  padding: 30px 30px 60px 30px;
  margin: 0 auto; }
  .inner-container:after {
    content: "";
    display: table;
    clear: both; }

.hl {
  background: #ffff00; }
  .hl:hover {
    background: #000;
    color: #fff; }

a {
  text-decoration: none; }
