@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Eczar|Rubik");
.title {
  padding-bottom: 110px;
  border-bottom: dashed 3px #000;
  position: relative; }

.logo-container {
  position: absolute; }

.logo-container:nth-child(4) {
  padding-top: 20px; }

.logo-container:nth-child(3) {
  padding-top: 15px;
  padding-left: 5px; }

.logo-container:nth-child(2) {
  padding-top: 10px;
  padding-left: 10px; }

.logo-container:nth-child(1) {
  padding-top: 5px;
  padding-left: 15px; }

.nav {
  position: absolute;
  right: 0;
  bottom: 0; }
  .nav__list {
    list-style: none; }
  .nav__item {
    font-size: 1.3rem;
    display: inline-block; }
    .nav__item a {
      color: #000;
      padding: 0 10px; }
      .nav__item a object {
        width: 1.5rem; }
      .nav__item a:hover {
        background: #000;
        color: #fff; }

.work {
  position: relative;
  margin: 5rem 0; }
  .work__title {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    margin: 0; }
  .work__description {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.8rem; }
  .work__image {
    border: 3px solid #000;
    width: 140%;
    margin-left: -20%;
    display: inline-block; }
  .work__title, .work__description {
    width: 60%;
    margin-bottom: 30px; }

*, *::after, *::before {
  box-sizing: border-box; }

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Eczar', sans-serif;
  background: #efefef; }

.container {
  position: relative;
  margin: 30px auto;
  max-width: 600px;
  width: 100%; }

.separator {
  border-bottom: dashed 3px #000;
  margin: 30px auto;
  width: 33%; }

.hl {
  background: #ffff00; }

a {
  text-decoration: none; }
